
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.menu{
    display: flex;
    gap: 32px;
    width: 365px;
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.logo1{
    width: 139px;
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    background-color:#469165;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12.5px 16px 12.5px 16px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.hero{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    margin-right: 0;
    height: 674px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
   
}
.hero-top{
    align-items: center;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.hero-body h1{
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-top: 16px;
}
.hero-body p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
}
.hero-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

}
.hero-flex .hero-down{
    width: 198px;
    height: 52px;
    box-sizing: border-box;
    padding: 12px 16px 12px 16px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: transparent;
}
.hero-flex .btn-1{
    background-color:#469165;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12.5px 16px 12.5px 16px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    height: 52px;
    width: 251px;
}
section{
    
    max-width: 1250px;
    margin: auto;
}
.low-color{
    width: 100%;
    align-items: center;
    text-align: center;
   
   
    
}
.low-color h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    padding-top: 60px;
    
}
.low-color p{
    color: #627382;
    font-style: normal;
    font-size: 16px;
    margin-top: 16px;

}
.option-flex{
    display: flex;
    gap: 24px;
    margin-top: 44px;
    
   
}
    
.logo-wrap{
    
    position: relative;
    display: inline-block;
    background-color: rgba(249, 85, 85, 1) ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-top: 69.5px;
}
.logo-wrap img{
    position: relative;
    top: 25%;
    width: 27px;
    height: 29px;
}
.option-box{
    
    background-color: white;
    box-shadow: 0 -3px 30px 0 rgb(210, 230, 247);
    text-align: center;
}
.option-box h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
}
.option-box p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #627382;
    padding-left: 24px;
    padding-right: 24px;
}
.knowledge {
    display: flex;
    
    gap: 60px;
    
}
.pic-side .p1{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #469165;
    padding-top: 102px;
}
.pic-side h1{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    padding-top: 16px;
}
.pic-side .p2{
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    padding-bottom: 40px;
    
}
.list-line {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 222px;
}
.list-line li {
    padding-bottom: 16px;
    text-decoration: none;
    list-style: none;
}
.list-line li img{
    vertical-align: middle;
}
#chall {
    max-width: 1360px;
    margin: auto;
    background-color:  #F7F6F2;
    text-align: center;
    
}
.cling h1 {
    font-size: 40px;
    font-weight: 700;
    padding-top: 80px;
}
.cling p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    padding-top: 16px;
    padding-bottom: 24px;
}
footer{
    margin-top: 120px;
    background-color: #001931;
}
.footer-flex{
    display: flex;
    max-width: 1360px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
}
.social{
    color: white;
}