
*{
    margin: 0;
    padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.menu{
    display: flex;
    gap: 32px;
    width: 365px;
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.logo1{
    width: 139px;
    height: 60px;
    padding-top: 16px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    background-color:#469165;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12.5px 16px 12.5px 16px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
